<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>J3C</title>
    </head>
    <body>
        Hola mundo html
        <p>
            Este es un parrafo
        </p>
        <h1>
            Esto es H1
        </h1>
        <h2>
            Esto es H2
        </h2>
        <h3>
            Esto es H3
        </h3>
        <h4>
            Esto es H4
        </h4>
        <h5>
            Esto es H5
        </h5>
        <h6>
            Esto es H6
        </h6>
        <b>
            Negrilla
        </b>
        <br>
        <a href="https://www.google.com">Link a google</a>

        <ul>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
        </ul>
        <ol>
            <li>uno</li>
            <li>dos</li>
            <li>tres</li>
        </ol>


        <form>
            <label>ingrese texto</label>
            <input type="text" placeholder="Usuario">
            <input type="password" placeholder="ingrese clave">
            <input type="email" placeholder="correo">
            <input type="date">

        </form>

        <select>
            <option>Opción 1</option>
            <option>Opción 2</option>
            <option>Opción 3</option>
        </select>
        <button>De clic</button>

        <table>
            <tr>
                <th>
                    Columna1
                </th>
                <th>
                    Columna2
                </th>
            </tr>
            <tr>
                <td>
                    Información columa1
                </td>
                <td>
                    Información columa2
                </td>
            </tr>
        </table>

        <img src="cancun.png">
    </body>
</html>