<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>

    <form method="post" th:action="@{/login}" class="position-relative text-center" th:object="${formularioLogin}">
        <div class="position-absolute top-50 start-50">
            <div>

                <img src="Login.jpeg" class="pimg-thumbnail" style="width:70px">
            </div>
            <div>
                <h2>Inicio de sesión</h2>
            </div>
            <div class="form-floating">
                <input type="email" th:field="*{correoEmpleado}" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" th:field="*{claveEmpleado}" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div>
                <input type="checkbox" aria-label="Recordar">
                <label>Recordarme</label>
            </div>
            <div>
                <a  href="/oauth2/authorization/google">Google</a>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Iniciar Sesión</button>
            </div>
            <div>
                <p class="text-center">2022</p>
            </div>
        </div>





  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>